body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  header {
    background: #fff700;
    color: #000000;
    padding: 1rem;
    text-align: center;
  }
  
  header nav a {
    margin: 0 10px;
    color: #000000;
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
  }
  
  form {
    margin-bottom: 2rem;
  }
  
  form input,
  form button {
    padding: 10px;
    margin: 5px;
  }
  
  ul {
    list-style: none;
    padding: 0rem;
    margin: 20px;
  }
  
  select {
    width: 300px; 
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid #8a8a8a; 
    font-size: 14px; 
  }
  
  option {
    padding: 5px; 
  }